<a href="https://colab.research.google.com/github/woodskd24/MSDataScience/blob/main/WoodsKPythonAssignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Assignment - 1

**Answer the following questions, after completing answering please download the .ipynb or .py file and submit the file.**
* Name : Kelsey Woods
* Session : Summer 1
* CRN : 40440

###**Q1** : 
Write a brief description of all the following Object Types. To write the answers in below cell by double clicking on it.

**Points**: **5**

Numbers ( Integers and Float): Numeric values. Both can be positive or negative. Floats can have decimal places or be exponential (e). Example -2.5, 2e2, 2.0. Examples of integers (whole numbers) include 2 and -6.

Strings: String of text incased in '' or "". Examples include "Hamburger" or "I like mayo".

Lists: A set of objects with an order. An example is ["You", 30.8, 6]

Tuples: A set of objects with an order but they are immutable ("You", 30.8, 6)

Dictionaries: Key value pairs that do not have an order {"Student":"Kelsey", "Fruit":"Orange"}.

###**Q2** : 
The Table below holds the data that contains statistics about the programming languages used for issues on GitHub. The data is for 2021.

**Points :5**

![A1.PNG]()

Answer the following questions based on above table

In [ ]:
#2.1 : Using print function print the total number the issues. (add/sum the values using '+' arithmetic operator)
Fortran = 1151
Java = 228703
Python = 328017
R = 5733
Scala = 13065
C = 90268
Csharp = 102178
Cplusplus = 168453

Lang = Fortran + Java + Python + R + Scala + C + Csharp + Cplusplus
print(Lang)

937568

In [ ]:
#2.2 : Using print function print the difference between the Python and Java issues.(using '-' arithmetic operator)

DifPyJa = Python - Java
print(DifPyJa)

99314

In [ ]:
#2.3 : Create a variable called ProLanguage and store the value 'Python' and using ".format()" function print the language name and total number of issues.
ProLanguage = 'Python'
print("The language is {} and there are {} issues".format(ProLanguage, Python))

The language is Python and there are 328017 issues

In [ ]:
#2.4 From the table above print the average monthly issues for 'Scala'.

S = Scala/12
S

1088.75

In [ ]:
#2.5
# Performs the following arithmetical operations and displays the results using '.format()' method with appropriate description.
# 16ร10
# 45รท5
# 5 power 3

Multiply = 16*10
Divide = 45/5
Power = 5**3

print("When you multiply 16 by 10 you get {}. When you divide 45 by 5 you get {}, and when want to find 5 to the power of 3 you get {}.".format(Multiply, Divide, Power))

When you multiply 16 by 10 you get 160. When you divide 45 by 5 you get 9.0, and when want to find 5 to the power of 3 you get 125.

### **Q3**:Perform the following Type casting

**Points: 5**

In [ ]:
#5.1 print the value of variable 'number' using print() with 'f' string' before and after type casting it to float.

number = 5
numbers = float(number)

print(f'The integer is {number} but as a float it is {numbers}')

The integer is 5 but as a float it is 5.0

In [ ]:
#5.2 print the value of ' amount' by converting it to integer

amount = "6500"
integer = int(amount)
print(integer)
test = integer + 10
print(test)

6500
6510

### **Q4**: 
Perform the following string slicing.

**Points : 10**

4.1 Given the string 'Python Programming', with the help of index get 'm'. Enter your code in the cell below

**Points: 1**

In [ ]:
s = 'Python Programming'
# Print out 'm' using indexing

s[-4]

'm'

4.2 Reverse the string 'Python Programming' using slicing:

**Points: 1**

In [ ]:
s ='Python Programming'
# Reverse the string using slicing
s[::-1]

'gnimmargorP nohtyP'

4.3 Given the string "Python Programming", give two methods (positive and negative indexing) of producing the letter 'i' using indexing.

**Points: 2**

In [ ]:
s ='Python Programming'
# Print out the 'i'

# Method 1:
s[-3]

# Method 2:
s[15]

'i'

4.4: Given the string "New York City", extract the sub-string "York"

**Points :1**

In [ ]:
NYC = "New York City"
NYC[3:8]

' York'

4.5 : Given the string "New York City", extract the string 'NwYr iy'

**Points:2**

In [ ]:
NYC[::2]

'NwYr iy'

4.6 : Given the string "New York City", extract the index of the letter 'Y'.
example : The output is ***index of 'C' is 9***

**Points:1**

In [ ]:
cityname = "New York City"

cityname.index('Y')

4

4.6 : find the length of the string " Python is powerful... and fast;plays well with others; runs everywhere; is friendly & easy to learn; is Open."

**Points : 2**

In [ ]:
Powerful = " Python is powerful... and fast;plays well with others; runs everywhere; is friendly & easy to learn; is Open."
len(Powerful)

110

## Lists

**Q5**:


**Points : 10**

5.1 Create two lists from the table below.

![A1.PNG]()

In [ ]:
# Numeric List 1151,228703...
ProgrammingN = [1151,228703,328017,5733,13065,90268,102178,168453]

In [ ]:
# String List Fortran, Java, ....
ProgrammingL = ["Fortran", "Java", "Python", "R", "Scala", "C", "C#", "C++"]

5.2 Reassign 'R' in this above list with 'HTML' and print it.

In [ ]:
ProgrammingL[-5]="HTML"
print(ProgrammingL)

['Fortran', 'Java', 'Python', 'HTML', 'Scala', 'C', 'C#', 'C++']

5.3 Arrange the Numeric list in desending order.

In [ ]:
ProgrammingL.sort()
ProgrammingL.reverse()

5.4 Insert 'CSS' at index 3 in String List

In [ ]:
ProgrammingL.insert(3, 'CSS')
print(ProgrammingL)

['Scala', 'Python', 'Java', 'CSS', 'HTML', 'Fortran', 'C++', 'C#', 'C']

5.5 Find the index of the "Scala" from String list.

In [ ]:
ProgrammingL.index("Scala")

0

## Dictionaries

**Q6:**


**Points :10**

Create a dictionary object from the table.

![A1.PNG]()

6.1 Print the value of 'Python'

In [ ]:
Languagues1 ={'Fortran':1151,'Java':228703, 'Python':328017, 'R':5733, 'Scala':13065, 'C':90268, 'C#':102178, 'C++':168453}
Languagues1['Python']

328017

6.2 Using function print keys, values and items of the dictionary.

In [ ]:
Languagues1.keys()
Languagues1.values()
Languagues1.items()

dict_items([('Fortran', 1151), ('Java', 228703), ('Python', 328017), ('R', 5733), ('Scala', 13065), ('C', 90268), ('C#', 102178), ('C++', 168453)])

6.3 #Grab Python

In [ ]:
d = {'k1':[{'nest_key':['this is CS632',['Python']]}]}
print(d['k1'][0]['nest_key'][1][0])

Python

6.4 Extract 'hello'

In [ ]:

d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
print (d['k1'][2]['k2'][1]['tough'][2][0])

hello

6.5 Is sorting a dictionary possible? Why or why not?<br><br>


Answer : It is not possible. Dictionaries do not have an order to sort.

## Tuples

**Q7:**


**Points :5**

7.1 What is the major difference between tuples and lists? (double click to respond.)


Answer: They are both ordered sequences but tuples are immutable

7.2 convert one of the list which you have created into tuple?

In [ ]:
ProgrammingL = ["Fortran", "Java", "Python", "R", "Scala", "C", "C#", "C++"]
print(tuple(ProgrammingL))

('Fortran', 'Java', 'Python', 'R', 'Scala', 'C', 'C#', 'C++')

## Sets

7.3 What is unique about a set?<br><br>

All the values in a set are unique

7.4 Use a set to find the unique values of the list below:

In [ ]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

print(set(list5))

{1, 2, 33, 4, 3, 11, 22}

## Booleans

7.5 What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [ ]:
# What the outcome?
2 > 3

False

In [ ]:
False

## Question #8
Points : 5


One lap around a running track is exactly 0.25 miles. Write the function miles_to_laps() that takes a number of miles as an argument and returns the number of laps. Complete the program to output the number of laps.

Output each floating-point value with two digits after the decimal point, which can be achieved as follows:
print('{:.2f}'.format(your_value))

    Ex: If the input is:1.5
    the output is:6.00
    Ex: If the input is:2.2
    the output is:8.80
    Your program must define and call the following function:
            def miles_to_laps(user_miles)

In [ ]:
# define your function here:
def miles_to_laps(num):
  return (num*0.25)

In [ ]:
miles_to_laps(6)

1.5

## Question #9
Points : 5


Write a function that checks whether a number is in a given range (inclusive of high and low)

In [ ]:
def ran_check(num,low,high):
  for i in range(low,high+1):
    if num==i:
      print("In range")
      break
    else:
      print("Out of range")

In [ ]:
# Check
ran_check(5,2,7)

Out of range
Out of range
Out of range
In range

Write a function that checks whether a number is in a given range return a boolean:

In [ ]:
def ran_bool(num,low,high):
    for i in range(low,high+1):
        if num==i:
            print(True)
            break
        else :
            print(False)

In [ ]:
ran_bool(3,1,10)

False
False
True

## Question #10
Points : 5

Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

    Sample String : 'Hello Students, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 3
    No. of Lower case Characters : 34

Note: You can use string methods **.isupper()** and **.islower()**

In [ ]:
s = "Hello Students, how are you this fine Tuesday?"

def upper_lower(s):
  lowercount=0
  uppercount=0
  for letter in s:
    if str.isupper(letter):
      uppercount+=1
    elif str.islower(letter):
      lowercount+=1
  print('Count of uppercase is '+str(uppercount))
  print('Count of lowercase is '+str(lowercount))

In [ ]:
upper_lower(s)

Count of uppercase is 3
Count of lowercase is 34

## Question #11
Points : 5

Write a function to check if the given year is a leap year. A leap year is when a year has 366 days: An extra day, February 29th. The requirements for a given year to be a leap year are:

    1) The year must be divisible by 4

    2) If the year is a century year (1700, 1800, etc.), 
       the year must be evenly divisible by 400

Some example leap years are 1600, 1712, and 2016.

Funtion should takes in a year and determines whether that year is a leap year.

    Ex: If the input is: 1712
        the output is: 1712 is a leap year.

In [ ]:
#Define your function here
year = int(input("Year: "))
if (year):
   print(str(year) + " is a leap!!!")
else:
   print(str(year) + " isn't a leap year")

Year: 17404
17404 is a leap!!!

## Question #12
Points : 2.5

**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [ ]:
def multiply(numb):
    result = 1
    for x in numb:
         result = result * x
    return result

In [ ]:
multiply([1,2,3,-4])

-24

## Question #13
Points : 2.5

**Write a Python function that checks whether a word or phrase is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward.

    e.g., madam,kayak,racecar

    input : madam
    output: Given 'madam' is a palidrome.

In [ ]:
 def palindrome(r):
    return r == r[::-1]

In [ ]:
palindrome('helleh')

True

## Question #14
Points : 2.5


**Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

In [ ]:
import string

def ispangram(str):
    alpha = "abcdefghijklmnopqrstuvwxyz"
    for char in alpha:
        if char not in str.lower():
            return False
  
    return True

In [ ]:
ispangram("The quick brown fox over jumps the lazy dog")

True

## Question #15
Points : 5

Toll gates have different fees based on the time of day, weekdays/weekends. Write a function that has three parameters: the current hour of time (int), time is morning (boolean) and whether the day is a weekend(boolean). The function returns the correct toll fee (float), based on the chart below.

    Weekday Tolls

    Before 7:00 am ($1.15)
    7:00 am to 9:59 am ($2.95)
    10:00 am to 2:59 pm ($1.90)
    3:00 pm to 7:59 pm ($3.95)
    Starting 8:00 pm ($1.40)
    
    Weekend Tolls

    Before 7:00 am ($1.05)
    7:00 am to 7:59 pm ($2.15)
    Starting 8:00 pm ($1.10)

    input : toll_fee(8, True, False) 
    Output : $ 2.95

In [ ]:
#define your code here
def toll_fee(hour,morning,weekend):
  if weekend == False:
    if morning == True:
      if hour in range(1,7):
        print("$1.15")
  if weekend == False:
    if morning == True:
      if hour in range(7,9):
        print("$2.95")
  if weekend == False:
    if morning == True:
      if hour in range(10,12):
        print("$1.90")
  if weekend == False:
    if morning == False:
      if hour in range(1,2):
        print("$1.90")
  if weekend == False:
    if morning == False:
      if hour in range(3,8):
        print("$3.95")
  if weekend == False:
    if morning == False:
      if hour > 8:
        print("$1.40")

In [ ]:
#call your function

fee = toll_fee(8, True, False)
print("The fee of the hour {} ".format(fee))

$2.95
The fee of the hour None

*If you extend the program to add round trip fee extra credit point 5 will be awarded.*

## Question #16
Points : 2.5

### Branching  staements
if - elif -  else

Given three values a, b, c, check which value is minimum and remove that value from other values. Write an algorithm.

        Ex: If the input is:
        a = 130
        b = 50
        c = 130
        The output is:
        a = 80
        b = 0 
        c = 80

In [ ]:
def difference(a, b, c):
    if ((a < b and a < c)) :
        print(a-a);
        print(b-a);
        print(c-a);
    if ((b < a and b < c)) :
        print(a-b);
        print(b-b);
        print(c-b);
    if ((c < b and c < a)):
        print(a-c);
        print(b-c);
        print(c-c);
a = 100
b = 90
c = 110
print(difference(a, b, c))

10
0
20
None

## Question #17
Points : 5

Write a program that takes in a year and determines whether that year is a leap year.

      Ex: If the input is:  1712
          the output is: 1712 - leap year

          Note : 1) The year must be divisible by 4
                  2) If the year is a century year (1700, 1800, etc.), the year must be evenly divisible by 400

In [ ]:
year = int(input("Year: "))
if (year % 4 == 0) and (year % 400 == 0):
    print("{0} is a leap year".format(year))
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

Year: 1812
1812 is a leap year

## Question #18
Points : 5

### Loops

Write a program that takes a simple password and makes it stronger by replacing certain characters as per list below and appending "!" to the end of the input string.

        i becomes 1
        a becomes @
        m becomes M
        B becomes 8
        s becomes $
        z becomes 2
        o becomes 0
        
        If the input is: mypassword
        the output is: Myp@$$w0rd!

In [ ]:
Password = str(input())

password = ''

for character in word:
    if(character=='i'): 
        password += '1' 
    elif(character=='a'): 
        password += '@'       
    elif(character=='m'):
        password += 'M'      
    elif(character=='B'): 
        password += '8'       
    elif(character=='s'): 
        password += '$'  
    elif(character=='z'): 
        password += '2' 
    elif(character=='o'): 
        password += '0'      
    else:
        password += character

print(password)

passwored
Myp@$$w0rd

## Question #19
Points : 2.5

Write a program to get 10 multiples of anynumber given.

    Example: if Number = 5
    Output :5,10,15,20,25,30,35,40,45,50

In [ ]:
def multiply(num):
  return num*10

multiply(90)

900